﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-3xl">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
