@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-3xl;
      @apply font-bold;
    }
    h2 {
      @apply text-2xl;
    }
    /* Add more base styles here */
}